<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="server=server71.hosting.reg.ru;port=3306;user=u1507549_default;password=8fCFB6jH9x4D4ovv;database=u1507549_cloudminingdb;"/>
	</connectionStrings>
	<appSettings>
		<add key="EmcdApi" value="b5791b71-80f1-4347-8d6e-4c177bdf5dd9"/>
	</appSettings>
</configuration>